@charset "UTF-8";

:root {
    --cor01: #F2C791;
    --cor02: #d9bc9ac0;
    --cor03: #73563D;
    --cor04: #d69b67cb;
    --cor05: #592525;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: var(--cor04);
}


header {
    background-image: linear-gradient(to bottom, var(--cor05), transparent);
    padding: 15px;
    max-width: 550px auto;
}

header h1 {
    text-align: center;
    margin: 12px;
    padding: 15px;
    line-height: 1.2em;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-decoration-line: overline;
    text-decoration-color: #D9BC9A;
    font-variant: small-caps;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.589);
    border: 2px solid rgba(0, 0, 0, 0.411);
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.411);
    background-color: var(--cor04);
    text-shadow: 2px 1px 1px #0000009c;

}

header h3 {
    text-align: right;
    margin-right: 25px;
    color: yellow;
    padding: 12px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.568);
    background-color: #d9bc9a50;
    border-radius: 40px;
}

main {
    background-color: white;
    margin: auto;
    max-width: 620px;
    padding: 12px;
    border-radius: 16px;
    border: 2px solid #0000005d;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.459);
    border-style: outset;
}

section.img {
    background-image: url(imagens/IMG-20240309-WA0047.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 0.1px;
    border-radius: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.363);
}

section.img > p {
    background-color: var(--cor02);
    color: black;
    margin-top: 19px;
    margin-bottom: 32px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 5px -3px 7px rgba(0, 0, 0, 0.37);
}

section.img2 {
    background-image: url(imagens/IMG-20240309-WA0041.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 0.1px;
    border-radius: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.363);
}

section.img2 > p {
    background-color: var(--cor02);
    color: black;
    margin-top: 19px;
    margin-bottom: 32px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 5px -3px 7px rgba(0, 0, 0, 0.37);

}

p {
    line-height: 1.9em;
    padding: 20px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    text-indent: 12px;
    font-size: 1.1em;
}
footer {
    background-color: black;
    color: rgb(190, 230, 110);
    padding: 12px;
    text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.432);
}

strong {
    background-color: rgba(255, 255, 0, 0.363);
    color: rgba(0, 0, 0, 0.514);
}

footer p {
    text-align: center;
}
